<div class="ui modal modalExcluirColeta">
    <div class="header"><i class="ui warning large circle icon"></i> Excluir Coleta</div>
    <div class="content mensagemExcluir">
        <p>Ao excluir uma Coleta será removido da base de dados: históricos relacionados a esta coleta.</p>
        <p>Tem certeza que deseja excluir a coleta da base de dados?</p>
    </div>
    <div class="actions">
        <div class="ui cancel button">Cancelar</div>
        <a href="#" id="link">
             <div class="ui negative button">Excluir</div>
        </a>

    </div>
</div>