{% load staticfiles %}


<div class="ui grid menu-teste">

    <div class="one column  computer only row">

        <div class="column">
            <nav class="ui huge borderless inverted fluid menu computer only magna-menu">

                <a class="item"  href="/">
                    <img src="{% static  'img/magna-aqua-logo.png' %}" id="logo">
                </a>
                <a class="item" href="{% url 'bacia_hidrografica_listar' %}">
                    Bacias Hidrográficas
                </a>
                <a class="item" href="{% url 'rio_listar' %}">
                    Rios
                </a>
                <a class="item" href="{% url 'entorno_listar' %}">
                    Entornos
                </a>
                <a class="item" href="{% url 'imagem_listar' %}">
                    Imagens
                </a>
                <a class="item" href="{% url 'caso_listar' %}">
                    Casos
                </a>
                <a class="item" href="{% url 'monitoramento_localizacao' %}">
                    Monitoramento
                </a>
                <a class="item" href="{% url 'historico_listar' %}">
                    Histórico
                </a>
                <div class="right menu">
                    <div class="ui simple dropdown item">
                        Olá {{ user.first_name }}!
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="/acessarConta/" class="item">Acessar Conta</a>
                            <a href="{% url 'logout' %}" class="item">Sair</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

    </div>

    <div class="mobile tablet only row">
        <div class="ui container fluid menu magna-menu">

            <div class="ui dropdown item">
                <i class="list layout large inverted icon dropdownMobile"></i>
                <div class="menu">
                    <a class="item" href="{% url 'bacia_hidrografica_listar' %}">
                        Bacias Hidrográficas
                    </a>
                    <a class="item" href="/rios/">
                        Rios
                    </a>
                    <a class="item" href="/entornos/">
                        Entornos
                    </a>
                    <a class="item" href="/imagens/">
                        Imagens
                    </a>
                    <a class="item">
                        Casos
                    </a>
                    <a class="item" href="/monitoramento/">
                        Monitoramento
                    </a>
                    <a class="item" href="/historico/">
                        Histórico
                    </a>
                    <div class="divider"></div>
                    <a href="/acessarConta/" class="item">Acessar Conta</a>
                    <div href="{% url 'logout' %}" class="item"> Sair  </div>
                </div>
            </div>
            <div class="item">
                <img src="{% static  'img/magna-aqua-logo-mobile.png' %}" id="logo">
            </div>
        </div>

    </div>
</div>
