<div class="ui modal modalEditarPonto">
    <i class="close icon"></i>
    <div class="header">
        <i class="ui add small teal inverted circular icon"></i> Editar Ponto
    </div>

    <form method="POST" action="{% url 'ponto_edit' %}" class="ui content form">

        {% csrf_token %}

        <div class="field">
            <label>Latitude</label>

            <div class="ui corner labeled input">
                <input name="latitude" id="ponto_lat" pattern="(\d+\.\-?)+" required="True" title="Apenas números, - e ." type="text">
                <div class="ui corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>

        </div>

        <div class="field">
            <label>Longitude</label>

            <div class="ui corner labeled input">
                <input name="longitude" id="ponto_lon" pattern="(\d+\.\-?)+" required="True" title="Apenas números, - e ." type="text">
                <div class="ui corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>

        </div>

        <div class="field">
            <label>Rio</label>

            <div class="ui corner labeled input">

                <input name="rio" id="ponto_rio" disabled="True"/>
                <div class="ui corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>

        </div>

        <input type="hidden" name="ponto_id" id="id_ponto"/>

        <div class="actions">
            <div class="ui deny button">
                Cancelar
            </div>
            <input type="submit" class="ui right teal button" value="Editar"/>
        </input>
        </div>
    </form>


</div>